@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Assistant', sans-serif;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 22px 24px;
    font-size: 20px;
    font-weight: 450;
    height: 80px;
    background-color: #000000;
    z-index: 2;
    position: fixed;
    top: 0;
}

.nav-logo>img {
    width: 128px;
}


.nav-itemslist {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    width: 50%;
}

.nav-itemslist>li {
    padding: 0 30px 4px 0;
}

.nav-item-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.nav-item-btn>a {
    color: #FFFFFF;
}

.nav-item-btn>button {
    padding: 5px 16px 4px;
    font-weight: 450;
    font-size: 18px;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.hero-section {
    margin: 250px 25px 20px 250px;
}

.hero-section-heading {
    font-size: 11.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0;
}

.hero-section-para {
    width: 63%;
    font-size: 1.8rem;
    line-height: 1.2;
    padding-left: 12px;
    font-weight: 450;
    word-spacing: 3px;
}

.hero-section-btn {
    margin: 50px 0;
}

.hero-section-btn>button {
    padding: 5px 16px 4px;
    font-weight: 450;
    font-size: 18px;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-right: 20px;
}

.hero-section-btn>a {
    text-decoration: underline;
    font-weight: 450;
    font-size: 18px;
    color: #FFFFFF;
}

.img-section {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0;
}

.img-section>img {
    width: 289px;
}


hr {
    margin: 0 24px;
}

.block-with-text {
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
    padding: 12px 0 96px;
}

.block-with-text>h2 {

    font-family: 'Merriweather', serif;
    width: 45%;
    font-size: 52px;
    font-weight: 480;

    font-family: 'Assistant', serif;
}

.block-with-text>p {
    width: 48%;
    font-size: 28px;
    font-weight: 480;
    text-align: left;
    word-spacing: 4px;
    padding-right: 30px;
    line-height: 1.2;
}

span {
    text-decoration: underline;
}

.bold-text-section {
    font-family: 'Merriweather', serif;
    font-size: 48px;
    line-height: 1.28;
    font-weight: 350;
    letter-spacing: -1px;
    padding: 12px 24px 96px;
}

.bold-text {
    padding-bottom: 96px;
}

.basketball-img-section {
    margin: 0 24px;
}

.bold-text-image>img {
    width: 1215px;
}


.basketball-images {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
}
.basketball-img {
    width: 49.5%;
}
.basketball-img > img {
    width: 100%;
}

.img-caption {
    font-size: 14px;
}

.img-caption-para {
    font-size: 12px;
    font-weight: 450;
}

.blue-background-section {
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 96px 0;
}

.blue-background-with-heading-para {
    display: flex;
    justify-content: space-between;
}

.blue-background-with-heading-para>.bold-text-section {
    width: 45%;
    font-size: 45px;
}

.blue-backgroung-para {
    width: 49%;
    font-size: 28px;
    font-weight: 480;
    text-align: left;
    word-spacing: 4px;
    padding: 12px 30px 0 0;
    line-height: 1.2;


}

.blue-background-video>video {
    padding: 8px;
    width: 95%;
    margin: 96px 24px 0 24px;
}

.heading-para-section {
    margin: 96px 0 0;
}

.heading-para-section1 {
    display: flex;
    justify-content: space-between;
    margin: 12px 24px 96px;
}

.headingsection {
    font-size: 48px;
    width: 45%;
    font-weight: 500;
}

.parasection {
    font-size: 28px;
    width: 45%;
}

.headingsection1 {
    font-size: 28px;
    width: 45%;
    font-weight: 500;
}

.parasection1 {
    font-size: 18px;
    width: 45%;
}

.hr1 {
    background-color: rgba(92, 90, 90, 0.6);
    color: rgba(92, 90, 90, 0.6);
    border: none;
    height: 1px;
}

.gallery{
    width: 100%;
    padding: 0 24px 96px;
    gap: 12px;
    display: flex;
    
}

.gallery-section{
    width: 24.5%;
}

.gallery-section > img{
    margin-bottom: 12px;
    width: 100%;
}

.credit-section{
    margin: 12px 24px 96px ;
    display: flex;
    justify-content: space-between;
}

.credit-text{
    font-size: 28px;
    font-weight: 550;
    width: 45%;
}

.creditlist{
    width: 45%;
    margin-right: 10px;
    font-size: 18px;
}
.footer-list-logo{
    margin: 12px 24px 96px;
    padding: 96px 12px;
    display: flex;    
    justify-content: space-between;
}
.footer-logo{
    width: 20%;
}

.footer-logo > img{
    width: 118px;
}

.footer-list{
    display: flex;
    width: 79%;
    justify-content: space-evenly;
    font-size: 18px;
}

.copyright-section{
    margin: 12px 24px 96px ;
    font-weight: 450;
    display: flex;
    justify-content: space-between;
}
.copyright{
    width: 25%;
    font-size: 18px;
}
.social-media-handels{
    
    width: 70%;
}
.social-media{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.social-media-handels a{
    color: #FFFFFF;
    font-size: 20px;
}
.back-to-top > a{
    padding:0 8px 0px 28px;
}
.back-to-top i{
    margin-left: 8px;
}

.social-media-handels a:hover{
    text-decoration: underline;
}

.hr2{
  margin: 0;
}

.pattren {
    background-color: #FFFFFF;
    height: 629px;
}
.box1{
    background-color: #000000;
    height: 22px;
    margin-top:1px ;
}
.box2{
    background-color: #000000;
    height: 21px;
    margin-top:2px ;
}
.box3{
    background-color: #000000;
    height: 20px;
    margin-top:3px ;
}
.box4{
    background-color: #000000;
    height: 19px;
    margin-top:4px ;
}
.box5{
    background-color: #000000;
    height: 18px;
    margin-top:5px ;
}
.box6{
    background-color: #000000;
    height: 17px;
    margin-top:6px ;
}
.box7{
    background-color: #000000;
    height: 16px;
    margin-top:7px ;
}
.box8{
    background-color: #000000;
    height: 15px;
    margin-top:8px ;
}
.box9{
    background-color: #000000;
    height: 14px;
    margin-top:9px ;
}
.box10{
    background-color: #000000;
    height: 13px;
    margin-top:10px ;
}
.box11{
    background-color: #000000;
    height: 12px;
    margin-top:11px ;
}
.box12{
    background-color: #000000;
    height: 11px;
    margin-top:12px ;
}
.box13{
    background-color: #000000;
    height: 10px;
    margin-top:13px ;
}
.box14{
    background-color: #000000;
    height: 9px;
    margin-top:14px ;
}
.box15{
    background-color: #000000;
    height: 8px;
    margin-top:15px ;
}
.box16{
    background-color: #000000;
    height: 7px;
    margin-top:16px ;
}
.box17{
    background-color: #000000;
    height: 6px;
    margin-top:17px ;
}
.box18{
    background-color: #000000;
    height: 5px;
    margin-top:18px ;
}
.box19{
    background-color: #000000;
    height: 4px;
    margin-top:19px ;
}
.box20{
    background-color: #000000;
    height: 3px;
    margin-top:20px ;
}
.box21{
    background-color: #000000;
    height: 2px;
    margin-top:21px ;
}
.box22{
    background-color: #000000;
    height: 1px;
    margin-top:22px ;
}

.hr3{
    border: none;
    color: #000000;
}